:root {
	--main-color:steelblue;
}

body {
	background-color:mintcream;
}

.centerWrap {
	text-align: center;
}

.clock {
	display: inline-block;
	text-align: center;
}

.greetingForm,
.greeting {
	display: none;
	margin-bottom: 20px;
	text-align: center;
}

.showing {
	display: inline-block;
}

.toDoForm {
	display: block;
	text-align: center;
}

.clock,
.greeting,
.greetingForm,
.toDoForm {
	color: var(--main-color);
	transition: 0.3s ease-in-out;
}

.clock:hover,
.greeting:hover,
.greetingForm:hover,
.toDoForm:hover {
	opacity: 50%;
	transition: 0.3s ease-in-out;
}

input {
	all: unset;
	border-bottom: var(--main-color) solid 1px;
}

input::placeholder {
	all: unset;
}

button {
	all: unset;
	margin-right: 5px;
}

ul, li {
	list-style: none;
	padding-left: 0px;
	color:cornflowerblue;
}
