:root {
	--main-color:white;
	--transition-property: 0.3s ease-in-out;
}

body {
	background-color: black;
}

input {
	all: unset;
	border-bottom: var(--main-color) solid 1px;
	margin-bottom: 15px;
}

input::placeholder {
	all: unset;
}

button {
	all: unset;
	opacity: 50%;
	margin-right: 5px;
}
.centerWrap {
	text-align: center;
}

.clock {
	display: inline-block;
	font-size: 40pt;
	margin-bottom: 10px;
	text-align: center;
}

.greetingForm,
.greeting {
	display: none;
	margin-top: 10px;
	text-align: center;
}

.showing {
	display: inline-block;
}

.toDoForm {
	display: inline-block;
	text-align: center;
}

.clock,
.greeting,
.greetingForm,
.toDoForm,
button {
	color: var(--main-color);
	text-shadow: 1px 1px 5px #000;
	transition: var(--transition-property);
}

.clock:hover {
	opacity: 50%;
}

button:hover {
	opacity: 100%;
}

ul, li {
	list-style: none;
	padding-left: 0px;
	text-shadow: 1px 1px 5px #000;
	color: var(--main-color);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.bgImage {
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	z-index: -1;
	animation: fadeIn 0.5s linear;
}
